<div class="container">
    <h1> Pick a Powa combination! </h1>
    
    <div class = "col 14">
<img src="https://cdn.dribbble.com/users/1094719/screenshots/3313600/8_-_kirby_64_power_ups.png">


<h2> Bomb</h2>
<a href="/throw/paper">
<img src="https://cdn.drawception.com/images/panels/2012/4-1/ssOndBrx6d-10.png" width="150px">
</a>

    <div class = "col 14">
<h2> Cutter</h2>
<a href="/throw/paper">
<img src="http://www.kirbysrainbowresort.net/games/kirby64/abilities/cutter_cutter.PNG" width="150px">
</a>
</div>

    <div class = "col 14">
<h2> Burn</h2>
<a href="/throw/paper">
<img src="https://vignette.wikia.nocookie.net/kirby/images/a/af/KCC_Bobo.png/revision/latest?cb=20130505222947&path-prefix=en" width="150px">

 <div class = "col 14">
<h2> Ice </h2>
<a href="/throw/paper">
<img src="https://banner2.kisspng.com/20180329/dgw/kisspng-cartoon-drawing-ice-cube-ice-cube-5abd7761b9a222.0445939815223663057604.jpg" width="150px">

 <div class = "col 14">
<h2> Needle </h2>
<a href="/throw/paper">
<img src="https://vignette.wikia.nocookie.net/kirby/images/6/62/KA_Needle.png/revision/latest/scale-to-width-down/150?cb=20130425230732&path-prefix=en" width="150px">

 <div class = "col 14">
<h2> Spark </h2>
<a href="/throw/paper">
<img src="http://hasshe.com/img/s/SXwi3Xs32FHUxiyOmvofkgHaGf.jpg" width="150px">

 <div class = "col 14">
<h2> Rock </h2>
<a href="/throw/paper">
<img src="https://i.imgur.com/6HyaC.jpg" width="150px">




</a>
</div> 
</div>
</div>