<html>
    <head>
        <title>Hoshi no Kaby</title>
       <img src="https://memestatic.fjcdn.com/pictures/Kirby+a+cute_0ee4fc_6748789.png" width="150px"> 
        
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        </head>   
    <body>
        
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Make your own kirby kids!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./create_user">Create User</a></li>
        <li><a href="./users">Users</a></li>
        <li><a href="./create_post">Create Avatar</a></li>
        <li><a href="./posts">Avatar</a></li>
        <li><a href="./">Home</a></li>
      </ul>
    </div>
  </nav>
        <%= yield %>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    </body>
</html>